@import "tailwindcss";
@import "./tokens.css";
@import "./fonts/Satisfy/satisfy.css";
@import "./fonts/Edu_NSW_ACT_Cursive/EduNSWACTCursive.css";
@import "./fonts/Carter_One/carter_one.css";
@import "./fonts/Capriola/capriola.css";
@import "./fonts/Encode_Sans_Expanded/Encode_Sans_Expanded.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Capriola, Arial, Helvetica, sans-serif;
}
